## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Salalah,OM,78.80,overcast clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
1,6,Asau,RO,74.32,clear sky,46.4333,26.4000,Casa Mika Ciobanus
2,8,Hilo,US,84.27,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,14,Rikitea,PF,73.33,light rain,-23.1203,-134.9692,People ThankYou
4,15,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Jamestown")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Jamestown")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Muskegon")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Portland")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Mayo")] 

# debated on adding an input command and asking which four cities they would like to go to and set the answer equal
# to a varaible. The same variables used above. It would get weird but I would probably have to make the string all caps
#with the .upper()

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# you can add .to_numpy at the end of vacation_start as well to get the numbers over
# i decided to test out if turning each df into a float would work. It did.
start = (float(vacation_start["Lat"]), float(vacation_start["Lng"]))
end = (float(vacation_end["Lat"]), float(vacation_end["Lng"]))
stop1 = (float(vacation_stop1["Lat"]), float(vacation_stop1["Lng"]))
stop2 = (float(vacation_stop2["Lat"]), float(vacation_stop2["Lng"]))
stop3 = (float(vacation_stop3["Lat"]), float(vacation_stop3["Lng"]))

In [7]:
stop3

(38.8876, -76.5119)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,80,Jamestown,US,83.95,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,556,Muskegon,US,81.30,broken clouds,43.3000,-86.1334,Timberline Estates
2,55,Portland,US,72.90,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,405,Mayo,US,88.39,clear sky,38.8876,-76.5119,Resorts Resource Group International

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b show map
fig

Figure(layout=FigureLayout(height='420px'))